/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Left Menu
        3.2 Main Content
        3.3 Footer
////////////////////////////////////////////////////////////////////////*/



/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-body {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
}

.container-right {
    display: flex;
    height: 100vh;
    flex-direction: column;
    border: hotpink dashed 1px;
}
/*////////////////////////
    2. Typography
////////////////////////*/



/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Left Menu /////////////*/

.container-left-nav {
    border: red dashed 1px;
    display: flex;
    height: 100vh;
    flex-basis: 250px;
}

.left-navbar {
    border: blue dashed 1px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-basis: 250px;
}

.left-navbar-content {
    border: aqua dashed 1px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-basis: 250px;
    padding-bottom: 850px;
}
/*///////////// 3.2 Main Content /////////////*/




/*///////////// 3.3 Footer /////////////*/



